<%- include('../templates/head'); %>

<%- include('../templates/nav'); %>

<%- include('../templates/header'); %>

<% for(var i=0; i < noticias.length; i++){ %>
<div class="post-preview">
	<a href="/noticia?id=<%=noticias[i].id_noticias%>">
		<h2 class="post-title">
			<%=noticias[i].titulo%>
		</h2>
	</a>
	<p class="post-subtitle">
		<%=noticias[i].texto%>
	</p>

	<p class="post-meta">Postado por
		<a href="#"><%=noticias[i].autor%></a>
		em <%=noticias[i].data_noticia%></p>
</div>
<hr>
<%}%>
				
<!-- Pager -->
<div class="clearfix">
	<a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>

<%- include('../templates/footer'); %>